footer.main-footer
    section.main-footer__bottom-bar.container
        .main-footer__flex-1
            a.button.main-footer__logo(href="#") Техномарт
            p г. Санкт-Петербург, ул. Б. Конюшенная, дом 19/8
                br
                |+7 (812) 555-05-55
        .main-footer__flex-2
            nav.main-footer__menu
                ul
                    li
                        a(href="#") Компания
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Доставка
                    li
                        a(href="#") Контакты
            ul.main-footer__goods
                li
                    a(href="#") Материалы
                li
                    a(href="#") Техника
                li
                    a(href="#") Инструмент
                li
                    a(href="#") Спецпредложения
    section.main-footer__bottom
        section.container
            .main-footer__copiright
                p
                    | © 2010-2017 Компания "Техномарт"
                    br
                    | Все права защищены
            .main-footer__social
                ul
                    li
                        a.social-button(href="#")
                            img(src="/img/vk-icon.png" width="15px" height="15px" alt="Вконтакте")
                    li
                        a.social-button(href="#")
                            img(src="/img/fb-icon.png" width="15px" height="15px" alt="Фейсбук")
                    li
                        a.social-button(href="#")
                            img(src="/img/insta-icon.png" width="15px" height="15px" alt="Инстаграм")
            .main-footer__contacts
                p
                    | Обратная связь:
                    br
                    a(href="mailto@htmlacademy.ru") mailto@htmlacademy.ru
                p
                    | Разработано -
                    br
                    a(href="https://htmlacademy.ru") HTML Academy
