h3
    a(href='catalog-item.html') Перфоратор Bosch BFG 9000
.goods__img
    p
        a(href='catalog-item.html')
            img(src='img/snippet-18927.png', width='180', height='160', alt='Bosch BFG 9000')
.goods__btn.goods__btn--new
    p
        a.goods__btn--bay(href='#') купить
        a.goods__btn--mark(href='#') В закладки
p.goods__price.popular-goods__price--strike
    | 32500 р.
    a.button.button-price(href='#') 25000 р.