section.top-bar.container
    a.button.top-bar__logo Техномарт
    form(action="#" method="POST")
        p.top-bar__search
            label
                input(type="text" name="search" value="" placeholder="Поиск:")
    ul.top-bar__cargo
        li.top-bar__cargo-item.top-bar__cargo-item--mark
            a(href="#") Закладки: 0
        li.top-bar__cargo-item.top-bar__cargo-item--basket
            a(href="#") Корзина: 0
        li.top-bar__cargo-item--green
            a(href="#")
                img(src="" alt="")
                | Оформить заказ
