nav.top-menu__site
    ul
        li
            a(href='index.html') Главная
        li
            a(href='#') Компания
        li
            a.top-menu__current(href='catalog.html') Каталог
        li
            a(href='#') Новости
        li
            a(href='#') Спецпредложения
        li
            a(href='#') Доставка
        li
            a(href='#') Контакты