doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        title Каталог
    body
        header.main-header
            .top-wrapper
                include ../modules/top-bar.pug
            .menu-wrapper
                section.top-menu.container
                    .top-menu__wrapper
                        p.top-menu__logo
                            | Интернет магазин 
                            br
                            |  строительных материалов 
                            br
                            |  и инструментов для ремонта
                        p.top-menu__contacts
                            span +7 (812) 555-05-55
                            | г. Санкт-Петербург, ул. Б. Конюшенная, дом 19/8
                        .top-menu__user-cabinet
                            p
                                a.top-menu__button-logged(href='#')
                                    img(src='/img/icon-user.png', width='24px', height='20px', alt='')
                                    span Равшан Джумшутович
                                    img(src='/img/icon-logout.png', width='24px', height='20px', alt='')
                            ul.top-menu__user-logged
                                li
                                    a(href='#') Мои заказы
                                li
                                    a(href='#') Личный кабинет
                    include ../modules/top-menu.pug
        main
            section.container
                ul.breadctumbs
                    li
                        a(href='index.html') Главная
                    li
                        a(href='catalog.html') Каталог
                    li
                        a(href='catalog.html') Инструменты
                    li.breadctumbs__current Перфораторы
                h1.page-title Перфораторы
                .main-wrapper
                    section.filters
                        h2.visually-hidden Фильтр товаров
                        h3 Фильтр:
                        form.filter(action='https://echo.htmlacademy.ru', method='get')
                            fieldset
                                legend Цена
                                label
                                    input.filter__price.filter__input__range(name='Price', type='range', min='0', max='30000', step='1', value='5000, 10000')
                                    input.filter__price__text(type='text', name='price-text-min', placeholder='0')
                                    input.filter__price__text(type='text', name='price-text-max', placeholder='30000')
                            fieldset
                                legend Производители:
                                ul
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__checkbox(name='Bosch', type='checkbox')
                                            |                                         Bosch
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__checkbox(name='Interskol', type='checkbox')
                                            |                                         Интерскол
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__checkbox(name='Makita', type='checkbox')
                                            |                                         Makita
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__checkbox(name='Dewalt', type='checkbox')
                                            |                                         Dewalt
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__checkbox(name='Hitachi', type='checkbox')
                                            |                                         Hitachi
                            fieldset
                                legend Питание:
                                ul
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__radio(name='prodact-group', value='accumulator', type='radio')
                                            |                                         Аккумуляторные
                                    li.filter__options
                                        label
                                            input.visually-hidden.filter__input.filter__input__radio(name='prodact-group', value='network', type='radio')
                                            |                                         Сетевые
                            button.button.filter__button(type='submit') Показать
                    section.cataliog
                        h2.visually-hidden Список инструментов
                        .sorting
                            h3 Сортировка:
                            ul.sorting__list
                                li.sorting__item.sorting__item--cheked
                                    a(href='#') По цене
                                li.sorting__item
                                    a(href='#') По типу
                                li.sorting__item
                                    a(href='#') По функционалу
                                li.sorting__item-img.sorting__item-img--cheked
                                    a(href='#')
                                        img(src='', alt='')
                                li.sorting__item-img
                                    a(href='#')
                                        img(src='', alt='')
                        ul.goods__list.goods__list--catalog
                            - for (var i=0; i<9; i++) {
                            li.goods__item.goods__item--catalog
                                include ../modules/goods__item.pug
                            - }
                        ul.pagination
                            li.pagination__item.pagination__item--current
                                a 1
                            li.pagination__item
                                a(href='') 2
                            li.pagination__item
                                a(href='') 3
                            li.pagination__item
                                a(href='') Следующая
                // /.cataliog
            section.cataliog-decription
                .container
                    h2 Пара слов о перфораторах
                    p
                        | Перфоратор - универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне. Существуют электромеханические и пневмотичсекие перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор "трехрежимников": в одном устройстве будут совмещены отбойный молоток и ударная дрель.
        include ../modules/footer.pug
