.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  &:hover,
  &:focus,
  &:active {
    background-color: #663d15;
  }
  &:disabled {
    cursor: default;
    opacity: .5;
    background-color: #000;
  }
}
